/* CSS global */
html {
  scroll-behavior: smooth;
}

body {
  color: white;
  overflow-x: hidden; /* Prevê rolagem horizontal */
  margin: 0;
  padding: 0;
}

/* Ajustes para a navegação */
.nav-list {
  display: flex;
  list-style: none;
}

.nav-list li {
  margin-left: 1rem;
}

.mobile-menu {
  display: none;
}

@media (max-width: 999px) {
  .nav-list {
    position: fixed;
    top: 0;
    right: -100%; /* Inicialmente fora da tela */
    width: 50vw;
    height: 100vh;
    background-color: black;
    flex-direction: column;
    align-items: center;
    transition: right 0.3s ease-in-out;
    overflow-y: auto; /* Permite rolagem vertical */
  }

  .nav-list.active {
    right: 0; /* Move para dentro da tela */
  }

  .mobile-menu {
    display: block;
    cursor: pointer;
  }
}

/* Ajustes para as imagens do slider */
.slider {
  margin: 0 auto;
  width: 100%;
  max-width: 100%; /* Garante que não exceda a largura do viewport */
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 1.5s ease;
}

.slide {
  min-width: 100%; /* Ajusta cada slide para a largura do container */
  box-sizing: border-box;
}

/* Responsividade para planos */
.quadroPlanos {
  background-color: #061726;
  border: 3px solid #4D4DFF;
  padding: 20px;
  width: 100%; /* Garante que não exceda a largura do viewport */
  max-width: 100%;
  box-sizing: border-box;
}

/* Outras configurações de mídia */
@media (min-width: 768px) {
  .slider {
    max-width: 720px;
  }

  .slides {
    width: 400%; /* Ajuste proporcional para 4 slides visíveis */
  }

  .slide {
    width: 25%; /* Cada slide ocupa um quarto da largura do slider */
  }

  .quadroPlanos {
    max-width: 500px; /* Limita a largura dos planos */
  }
}
